### Equal-Weighted Portfolio Strategy

A portfolio model that allocates equal capital to each selected stock, ensuring balanced exposure and diversification regardless of individual market capitalization.

Import the libraries

In [1]:
import pandas as pd
import yfinance as yf
import math

Load The Stocks List

In [2]:
# Load the saved stock info CSV
tickers = pd.read_csv('top50_us_stocks_info.csv')
tickers.head()

,Name,Ticker,Sector,MarketCap,PreviousClose,52WeekHigh,52WeekLow
0,3M Company,MMM,Industrials,87442300928,160.59,172.85,121.98
1,A.O. Smith Corporation,AOS,Industrials,9207796736,65.15,77.92,58.83
2,Abbott Laboratories,ABT,Healthcare,217098158080,125.80,141.23,110.86
3,AbbVie Inc.,ABBV,Healthcare,383705284608,215.89,244.81,163.81
4,Accenture plc,ACN,Technology,153862651904,242.90,398.35,229.40

Fetch Market Cap & Latest Price

In [3]:
# Get market cap and latest price for each ticker (1-day period)
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)
    
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get('marketCap', 'N/A')
        stocks_data.append({
            'Ticker': ticker,
            'Market Cap': market_cap,
            'Latest Price': latest_price,
        })

    stocks_df = pd.DataFrame(stocks_data)
    return stocks_df

# Create ticker list and fetch market cap data
tickers_list = tickers['Ticker'].values.tolist()
df = fetch_market_cap(tickers_list)

# Show first 5 rows
df.head()

[*********************100%***********************]  50 of 50 completed

  Ticker    Market Cap  Latest Price
0    MMM   87041228800    163.850006
1    AOS    9131216896     65.580002
2    ABT  217272041472    124.949997
3   ABBV  387127902208    219.039993
4    ACN  149664317440    241.339996

Sort by Market Cap

In [4]:
# Sort stocks by market cap in descending order
df = df.sort_values('Market Cap', ascending=False)
df.head()
df

   Ticker     Market Cap  Latest Price
38   AAPL  3986216452096    269.769989
20   GOOG  3440261464064    285.339996
19  GOOGL  3438460796928    284.750000
22   AMZN  2598150078464    243.039993
3    ABBV   387127902208    219.039993
6     AMD   386985492480    237.699997
26    AXP   252009480192    365.839996
2     ABT   217272041472    124.949997
40    APP   210174967808    621.359985
39   AMAT   186039910400    233.529999
47      T   175392980992     24.740000
32   AMGN   169939107840    315.589996
33    APH   169054306304    138.110001
44   ANET   168769404928    134.020004
4     ACN   149664317440    241.339996
5    ADBE   137028714496    327.350006
34    ADI   114566578176    232.880005
21     MO    96137527296     57.270000
0     MMM    87041228800    163.850006
28    AMT    83372228608    178.089996
37    APO    74858586112    128.979996
11   ABNB    73792765952    120.529999
35    AON    73077989376    340.000000
25    AEP    63980298240    119.529999
45    AJG    62978859008    245.240005
49   ADSK    62805176320    294.859985
8     AFL    59591749632    113.699997
10    APD    57594654720    258.790009
18    ALL    52176687104    198.009995
27    AIG    48079286272     76.279999
31    AME    45407715328    197.250000
30    AMP    42506219520    457.519989
9       A    41813479424    147.490005
42   ACGL    32234248192     87.760002
48    ATO    28168675328    175.479996
24    AEE    27584516096    102.010002
43    ADM    27257915392     56.720001
29    AWK    25268502528    129.500000
23   AMCR    18974720000      8.220000
41   APTV    17740120064     82.099998
17    LNT    17155756032     66.739998
16   ALLE    14201294848    165.070007
46    AIZ    10940061696    216.809998
13    ALB    10739744768     91.260002
12   AKAM    10467143680     73.000000
7     AES    10104995840     14.190000
15   ALGN     9693601792    133.729996
14    ARE     9189107712     53.169998
1     AOS     9131216896     65.580002
36    APA     8458071552     23.639999

Select Top 10 Stocks

In [5]:
# Keep only the top 10 stocks by market cap
df = df.head(10)

# Reset index for a clean 0-9 range
df.reset_index(drop=True, inplace=True)
df

  Ticker     Market Cap  Latest Price
0   AAPL  3986216452096    269.769989
1   GOOG  3440261464064    285.339996
2  GOOGL  3438460796928    284.750000
3   AMZN  2598150078464    243.039993
4   ABBV   387127902208    219.039993
5    AMD   386985492480    237.699997
6    AXP   252009480192    365.839996
7    ABT   217272041472    124.949997
8    APP   210174967808    621.359985
9   AMAT   186039910400    233.529999

Determine Position Size

In [ ]:
# Get total investment amount from user
portfolio_size = int(input("Enter the investment amount: "))

# Calculate equal position size per stock
position_size = portfolio_size / len(df.index)
position_size

Calculate Number of Shares

In [ ]:
# Calc how many shares to buy for each stock based on position size
# Use floor to avoid buying fractional shares
df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor( 
    position_size / price
))
df